{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "plugins": ["svelte3"],
  "overrides": [
    {"files": ["*.svelte"], "processor": "svelte3/svelte3"}
  ],
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "require-jsdoc": [
      "warn",
      {
        "require": {
          "FunctionDeclaration": true
        }
      }
    ],
    "valid-jsdoc": "off",
    "indent": ["error", 4, {"SwitchCase": 1}],
    "no-unused-vars": ["error", {"varsIgnorePattern": "_"}],
    "no-multi-spaces": "error",
    "no-invalid-this": "error",
    "no-trailing-spaces": "error",
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": "error",
    "camelcase": ["error", {"properties": "never"}],
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": "error",
    "comma-style": "error"
  }
}
