.aboutText {
  text-align: left;
}

.aboutText cite {
  text-align: right;
  display: block;
  width: 100%;
}

.aboutText blockquote {
  padding-top: 1rem;
}

.aboutText p {
  max-width: 57ch;
}

.aboutText .textContainer {
  display: flex;
  flex-direction: column;
  place-items: center;
}