.brandName, a, button {
  color: black;
  font-family: 'Zilla Slab', sans-serif;
}

.brandName a:link {
  color: black;
}

.brandName a:visited {
  color: black;
}

.brandName a:hover {
  color: black;
  text-decoration: none;
}

.brandName a:active {
  color: black;
}
