@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,700;1,400&display=swap');

html,
body,
#root,
.Home,
.Map {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Zilla Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Zilla Slab', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-purple {
  background: rgb(48, 0, 50);
}
.bg-gray {
  background: rgb(74, 74, 74);
}
.bg-blue {
  background: rgb(50, 101, 196);
}
.bg-red {
  background: rgb(196, 50, 53);
}

/*.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}*/

.map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
