@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,700;1,400&display=swap');

html,
body,
#root,
.Home,
.Map {
  font-size: 14pt;
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Zilla Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* bootstrap annoyingly specifies font-family */
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Zilla Slab', sans-serif;
}

blockquote {
  border-radius: 3px;
  border: 1px;
  padding: 2rem 2rem 1rem 2rem;
  margin: 2rem 0 1rem 0; 
  background: #fff1f1;
  border-left: 5px solid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-purple {
  background: rgb(48, 0, 50);
}
.bg-gray {
  background: rgb(74, 74, 74);
}
.bg-blue {
  background: rgb(50, 101, 196);
}
.bg-red {
  background: rgb(196, 50, 53);
}
