.marker {
  background-image: url('/images/marker.png');
  background-size: cover;
  filter: invert(32%) sepia(1%) saturate(2785%) hue-rotate(324deg)
    brightness(101%) contrast(87%);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.mapboxgl-ctrl-attrib {
  background: none;
}

.mapboxgl-popup-content {
  font-family: 'Zilla Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
  padding: 0.8rem;
}

.carousel-inner {
  height: 100%;
  max-height: calc(100vh - 108px);
  overflow-y: auto;
  scrollbar-width: none;
}

.carousel-inner {
  max-height: calc(100vh - 110px);
}

.carousel-inner::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
  width: 0;
}

.carousel-inner p {
  text-align: left;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 6%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 6%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 6%;
  hyphens: auto;
}


.carousel-control-prev-icon {
  filter: invert(32%) sepia(1%) saturate(2785%) hue-rotate(324deg)
    brightness(101%) contrast(87%);
}

.carousel-control-next-icon {
  filter: invert(32%) sepia(1%) saturate(2785%) hue-rotate(324deg)
    brightness(101%) contrast(87%);
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  filter: invert(32%) sepia(1%) saturate(2785%) hue-rotate(324deg)
    brightness(101%) contrast(87%);
}

.carousel-container {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 100px);
}

.slide {
  width: 100%;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators li {
  width: 20px;
}